
:root {
  --bg-color : #FFC700;
  --p-rgb : white;
}

body {
  font-family : 'Poppins', sans-serif;
  background-color: black;
  color : var(--p-rgb);
  font-weight: 300;
  font-size: 1.2rem;
  background-image: url(./assets/images/noise-bg.png);
  background-image: linear-gradient(45deg, black, black, #1d3557);
  background-repeat: no-repeat;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #FFC700;
  border-radius : 5px;
}

h1,h2,h3,h4,h5,h6 {
  font-family : 'unbounded', cursive;
  font-weight: 800;
}

a,
form,
input,
button {
    text-decoration: inherit;
    color: inherit;
}


