.Dashboard {
    min-height : 100vh;
}

.Dashboard-body {
    max-width: 80vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15%;
}

.Dboard-intro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Heyuser {
    margin-right: auto;
    font-size: 2rem;
    background: -webkit-linear-gradient(45deg, hsl(220deg 100% 55%), #f9dd94);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.newNotebtn {
    margin: 0px 5px;
    background-color: #FFC700;
    padding: 4px 10px;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    transition: all 0.2s linear;
}

.newNotebtn:hover {
    box-shadow: -2px -2px 1px white, 2px 2px 1px hsl(220deg 100% 55%);
}

.Dboard-body {
    display : flex;
    flex-direction: column;
}

.Dboard-notes {
    display : flex;
    height : 70vh;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    justify-content: space-between;
    
}

.pagination {
    display : flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.pagination-off {
    display: none;
}

.pagination-btn {
    width : 40px;
    transition: all 0.2s linear;
}

.pagination-btn:hover {
    cursor : pointer;
    filter : sepia();
}

.pagination-number{
    width : 30px;
    text-align: center;
    font-size: 20px;
    margin : 0px 10px;
}
.pagination-number-curr{
    width : 50px;
    font-size: 30px;
    text-align: center;
    color : #FFC700;
    background-color: rgba(128, 128, 128,0.3);
}
.btn-disabled {
    filter: invert(50%);
}

.btn-disabled:hover {
    cursor : not-allowed;
    filter : invert(50%);
}

.Dboard-new-notes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Dboard-new-msg{
    font-size: 3rem;
    background: -webkit-linear-gradient(45deg, hsl(220deg 100% 55%), #f9dd94);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}