.Landing {
    height : 100vh;
    background-image: url('../assets/images/clumsy.svg');
    background-repeat:no-repeat;
    background-size: 40vw;
    background-position: 0% 160%;
    /* display: flex;
    flex-direction: column; */
}

.Landing-body { 
    max-width : 80vw;
    height : 80vh;
    margin-left : auto;
    margin-right : auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 15%;
}
.Landing-body > a {
    letter-spacing: 1px;
    font-weight: 300;
}
.bd-1 {
    font-size: 3rem;
    text-align: center;
    background: -webkit-linear-gradient(45deg, hsl(220deg 100% 55%), #f9dd94);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
}
.bd-2 {
    font-size : 1.5rem;
    font-weight : 600;
    background: -webkit-linear-gradient(45deg, hsl(220deg 100% 55%), #f9dd94);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}