.Unauth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}

.unauth-pic{
    width : 20%;
}

.unauth-401 {
    text-shadow: 2px 2px 2px rgba(231, 10, 10, 0.5);
    background: -webkit-linear-gradient(45deg, hsl(220, 98%, 53%), #f8ce65);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.unauth-link{
    color  :yellow
}

.unauth-msg {
    letter-spacing: 0.1rem;
}

.unauth-link:hover {
    cursor : pointer;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
    background: -webkit-linear-gradient(45deg, hsl(220, 98%, 53%), #f8ce65);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}